$ff-primary: 'Bellefair', serif;
$ff-secondary: 'Barlow Condensed', sans-serif;

$ff-body: $ff-primary;
$ff-accent: $ff-secondary;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 500;

$fz-300: 1.4rem;
$fz-400: 1.6rem;
$fz-600: 2.8rem;
$fz-700: 3.2rem;
$fz-800: 5.6rem;
$fz-900: 10rem;
$fz-950: 15rem;

$fz-nav: $fz-400;
$fz-body: $fz-400;
$fz-subheading--1: $fz-600;
$fz-subheading--2: $fz-300;
$fz-heading--1: $fz-950;
$fz-heading--2: $fz-900;
$fz-heading--3: $fz-800;
$fz-heading--4: $fz-700;
$fz-heading--5: $fz-600;
